.ui.pagination.menu .item{
  font-size: 14px;
 color: gray;

}

.ui.table {
	margin-top: 35px;
	border: 0px;
}

.ui.table thead tr .test {
	background-color: #1B2E6D;
	color: orange;

}

.rt-thead {
	background-color: #1B2E6D;
	color: orange;
	border-radius:   5px 5px 0px 0px;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
}
.rt-th {
	text-align: left;
	padding-top: 0px;
}

.ReactTable .-pagination .-btn{
background-color: #1B2E6D;
color: orange;
	
}

.ReactTable.-striped .rt-tr.-odd {
background-color: #f6f6f6;
color: darkblue ;

}

.ReactTable.-striped .rt-tr.-even {
background-color: lightgray;
color: darkblue;
font-weight: bold;
}

.rt-tr{
	padding: 0px;
	font-size: .9em;	
	}

.search {
	float: right;
	display: inline;
	margin: 0 auto;

	margin-bottom: 10px;
}

.ui.input {
	width: 200px;
	font-size: .75em;
}

.ui.button {
	margin-top: 25px;
}

td {
	font-size: 12px;
}


.ui.celled.table tr td.center-info {
	text-align: center;
	vertical-align: middle;
}

i.check {
	color: green;
	text-align: center;
	margin-left: 20px;
}

div.rt-dt.center {
	text-align: center;
	margin: 0 auto;
}

div.ReactTable {
	height: 100%;
}

.container-fluid {
	
	margin-bottom: 10px;
	height: 810px;
}

div._next {
	background-color: lightblue;
}

.ReactTable .rt-tbody   {
	border: 1px solid darkblue;
}

h3 {
	margin-bottom: 10px;
}