.navbar-default {


	background-color: #204879;
	text-align: center;
	width: 100%;
	margin-top: 25px;
	font-family: 'Alegreya';
	color: white;
	height: 0px;

}

.my-logo{

color: darkorange;
font-family: impact;

}

.navbar-header {
	
}

.navbar {
	border: 0px;
	border-radius: 0;	
	margin-top: 0;
}

#gear {

float: right;
margin-top: 15px;

color: white;

font-size: 32px;
}

.tag-line {
	color: white;
	margin-top: 15px;
	margin-left: 200px;
	font-size: 25px;
	;
}

img {
	margin-top: -10px;
	
}